@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Press Start 2P', Verdana, sans-serif;
    font-size: 1.5px;
    color: rgba(255, 255, 255, 0.774);
    background-color: rgba(7, 7, 7, 0.952);
}

#textContainer {

}

#divContainer {
    display: flex;
    width: 600px;
    height: 400px;
    flex-wrap: wrap;
    border: 2px solid white;
    margin: 150px auto 0;
    background-color: rgba(65, 64, 64, 0.904);
    gap: 2px;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

.square {
    border: 1px solid rgba(255, 255, 255, 0.774);
    aspect-ratio: 1;
    flex: 1 0 25px;
}
.square:hover {
    background-color: rgba(7, 7, 7, 0.952);
}

.upperButton {
    background-color: rgba(68, 0, 131, 0.521);
    color: white;
    border: 1px solid rgba(40, 0, 77, 0.836);
    height: 35px;
    width: 85px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
}
.upperButton:hover {
    border-color: rgba(7, 7, 7, 0.952);
}